<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nextinno.doshare.user.mapper.UserMapper">
    <select id="findByEmail" parameterType="com.nextinno.doshare.domain.users.User" resultType="com.nextinno.doshare.domain.users.User">
        SELECT 
            idx,
            email,
            name,
            role
        FROM
            user
        WHERE
        email = #{email} 
    </select>
</mapper>