<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nextinno.doshare.board.mapper.BoardMapper">
    <insert id="addBoard" parameterType="com.nextinno.doshare.domain.boards.Board">
        INSERT INTO board (title, email, uploadDate, content, author_id)
        VALUES
        (#{title}, #{email}, #{uploadDate}, #{content}, #{authorId})
    </insert>
    <insert id="updateReadCount" parameterType="com.nextinno.doshare.domain.boards.Board">
        UPDATE board 
        SET
            readCount = #{readCount}
        WHERE
            idx = #{idx}
    </insert>
    <insert id="addComment" parameterType="com.nextinno.doshare.domain.comments.Comment">
        INSERT INTO comment (email, uploadDate, content, board_id)
        VALUES
        (#{email}, #{uploadDate}, #{content}, #{board_id})
    </insert>
    <update id="updateEditedBoard" parameterType="com.nextinno.doshare.domain.boards.Board">
        UPDATE board 
        SET
            title = #{title},
            content = #{content}
        WHERE
            idx = #{idx}
    </update>
    <delete id="deleteBoard">
        DELETE FROM
            board
        WHERE
            idx = #{idx}
    </delete>
    <select id="findAllBoard" resultType="com.nextinno.doshare.domain.boards.Board">
        SELECT 
            idx AS idx,
            email AS email,
            title AS title,
            uploadDate AS uploadDate,
            updatedDate AS updatedDate,
            readCount AS readCount,
            imagePath AS imagePath,
            content AS content,
            author_id AS authorId
        FROM board
    </select>
    <select id="findById" resultType="com.nextinno.doshare.domain.boards.Board">
        SELECT 
            idx AS idx,
            email AS email,
            title AS title,
            uploadDate AS uploadDate,
            updatedDate AS updatedDate,
            readCount AS readCount,
            imagePath AS imagePath,
            content AS content,
            author_id AS authorId
        FROM board
        WHERE
            idx = #{idx}
    </select>
    <select id="commentFindById" resultType="com.nextinno.doshare.domain.comments.Comment">
        SELECT 
            idx AS idx,
            email AS email,
            uploadDate AS uploadDate,
            goodCount AS goodCount,
            content AS content,
            board_id AS board_id
        FROM comment
        WHERE
            board_id = #{board_id}
    </select>
</mapper>